/*
 * WaniKani Vocab Grid
 * v0.1.0
 */

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("https://www.wanikani.com/level") {
  section > ul {
    display: flex;
    flex-flow: row wrap;
  }
  ul.multi-character-grid li.character-item {
    width: 20%;
  }
  ul.multi-character-grid li.character-item span.character {
    font-size: 50px;
  }
  ul.multi-character-grid li.character-item ul {
    float: left;
    text-align: left;
  }
  ul.multi-character-grid li.character-item span.character {
    display: block;
    width: 100%;
  }
  ul.multi-character-grid li.character-item ul > li:nth-child(1) {
    font-size: 30px;
  }
  ul.multi-character-grid li.character-item ul > li:nth-child(2) {
    font-size: 15px;
  }
}
